{% extends "website/base.html" %}

{% block title %}review{% endblock %}
{% block content %}

<!-- Display Messages -->
{% if messages %}
{% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        <strong>
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}⚠ Error: {% endif %}
        </strong> 
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}
{% endif %}

<form method="POST" action="{% url 'rev' %}" id="form1" 
    class="bg-white border-4 border-double border-blue-600 rounded-3xl shadow-lg w-[550px] p-6 mx-auto mt-6">
    
    {% csrf_token %}

    <h2 class="text-center text-2xl font-semibold text-gray-800 mb-4">Leave Your Review</h2>

    <input type="text" required name="order_id" 
        class="w-full h-10 text-black px-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-400 mb-4" 
        placeholder="Your Order No">

    <input type="number" required min="1" max="5" name="rating" 
        class="w-full h-10 px-3 text-black border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-400 mb-4" 
        placeholder="Rating (1-5)">

    <textarea required name="review" 
        class="w-full h-24 px-3 py-2 text-black border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-400 mb-4" 
        placeholder="Write your review here..."></textarea>

    <div class="text-center">
        <input type="submit" value="Submit"  
            class="bg-blue-600 text-white text-black font-bold py-2 px-6 rounded-lg hover:bg-blue-700 transition duration-200 cursor-pointer">
    </div>
</form>





{% endblock content %}